




.Edu1{
    position:center;
    width: 70%;
    margin: auto;
    background: #ffad48;
    font-family: "Fjalla one", sans-serif;
    font-size: large;
    border-radius: 5%;
    padding: 5%;
    opacity: 1;
    border : #ffad48 2px solid;

}



.skills{
    position:center;
    width:  70%;
    margin: auto;
    background: #ffad48;
    font-family: "Fjalla one", sans-serif;
    font-size: large;
    border-radius: 5%;
    padding: 5%;
    opacity: 1;
    border : #ffad48 2px solid;

}


